.galleryContainer{
    background-image: url("https://yevgenysim-turkey.github.io/touche/assets/img/23.jpg");
    background-size: cover;
    background-position: 50%;
}
.imgfluid{
    height: 70vh;
    width: auto;
}