@font-face {
	font-family: 'Conv_PlayfairDisplay-BoldItalic';
	src: url('./fonts/fonts/PlayfairDisplay-BoldItalic.eot');
	src: local('☺'), url('./fonts/fonts/PlayfairDisplay-BoldItalic.woff') format('woff'), url('./fonts/fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'), url('./fonts/fonts/PlayfairDisplay-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



.menuContainer{
  
        background-image: url("https://yevgenysim-turkey.github.io/touche/assets/img/25.jpg");
        background-size: cover;
        background-position: 50%;
        
        
}

.newsp{
    color: orange;
}
.colors2{
    color: black !important;
    font-size: 16px !important;
}
.colors21{
    color: black !important;
    font-size: 42px !important;
}
.newsh1{
    font-size: 72px;
}
.img24{
  max-width: 100%;
  height: auto;
}