




.touchecontainer{
    background-image: url("https://yevgenysim-turkey.github.io/touche/assets/img/15.jpg");
    background-size: cover;
    background-position: 50%;
   
    /*  height: 100vh;
    width: auto;  */
}
li a:hover {
    color: #f5a637 !important;
}

h2,h4,h6,h5,h3,span,h1{
    font-family: Playfair Display,serif;
   
}

p{
    font-family: sans-serif;
}

.colors{
    color: white !important;
    font-size: 16px !important;
}
.colors1{
    color:rgba(255,255,255,.75)!important;
}
body { overflow-x: hidden; width: 100vw;}


.fo{
    font-family: Playfair Display,serif;
    font-style: italic;
  
    color: white !important;
   /*  padding-right: 183px; */
    font-size: 40px !important;
  
}
.fo1{
    font-family: Playfair Display,serif;
    font-style: italic;
  
    color: white !important;  
    font-size: 80px !important;
}
.fot{
   padding-right: 50px;
}
.mic{
    
    background:transparent;
    text-align: center;

   
}
.i1{
    height: 40vh;
}
.cafe{
    text-align: center;
    
}
.bw{
    border-color: #ff9800;
    color:white;
    text-align: center;
   
 
 
 
  font-size: 16px;
  cursor: pointer;
}
.bw1{
    border-color: #ff9800;
    color:black;
    text-align: center;
    
}
.boi{
    width: 100%;
    height: 70vh;
}

.p{
    color:  #6c757d;;
    font-size: 16px;
}
.display{
   list-style-type: none;
}
.imgt{
    height: 120px;
    width: 140px;
}
.ic{
   
   height: 60px;
    background-color: #fff;
  
   border: none;
  
    padding: 1rem;
   
    width: 100%;
}
.co{
    background-color: whitesmoke;
    padding: 15px;
}
.none{
    border: none;
}

.imc{
    border-radius: 210px;
}
.hrlines{
   border-bottom: 2px solid orange;
    width: 40px;
   opacity: 5;
  
}




.rockcon{
    background-image: url("https://yevgenysim-turkey.github.io/touche/assets/img/8.jpg");
    background-size: cover;
   background-position: 50%;
  
   width: auto;

}
.bim{
    background-image: url("https://yevgenysim-turkey.github.io/touche/assets/img/19.jpg");
    background-size: cover;
    background-position: 50%;
    height: 70vh;
}
.l{
    border-bottom: 1px solid #e9ecef!important;
  
  /*  
    padding-bottom: 1rem;
    padding-top: 1rem; */
}
.date{
    color: #ff9800;
}
.loh{
    color: #fff;
    font-size: 28px;
   
}
.lop{
    color: rgba(255,255,255,.75)!important;
    font-size: 16px;
  

}

.newscon{
    background-color: #e9ecef;

}
.ic2{
    height: 50px;
    background-color: #fff;
  
   border: none;
  
    padding: 1rem;
   
    width: 30%;
}
.imgz{
    height: 30%;
    width: auto;
}
.imgz1{
    height: 67%;
    width: auto;
}
.cn{
    display: flex;
    flex-direction: column;
}

.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {width:100%!important;height:400px!important;}

.footertouche{
    background-color: black !important;
}

.fh{
    color: #ff9800;
    font-size: 15px;
}
.fp{
    color: #6c757d;
}
.as{
    align-self: center;
}
.tl{
    text-align: left !important;
}